
body {
    background-color: rgba(0, 0, 0, 0.589);
}



.resources {
    background-color: rgba(40, 139, 231, 0.733);
    width: 590px;
    height: 100px;
    text-align: center;
    padding: 5px;
}


.totalMeatClass {
    font-size: 1.5em;
    font-weight: 600;
}

.meatASecond {
    font-size: 1.1em;
    font-weight: 550;
}

.tickspeed {
    padding: 5px;
    font-size: 1.2em;
    font-weight: 525;
}



.buttons {
    background-color: yellowgreen;
    width: 600px;
    margin-top: 10px;
    height: 833px;
}


.meatClick {
    margin: 10px;
    height: 100px;
    width: 200px;
    font-size: 1.4em;
    font-weight: 450;
    transform: translateX(90%) translateY(10%);
}



.foxes {
    background-color: rgba(28, 163, 28, 0.76);
    width: 350px;
    height: 953px;
    margin-top: -953px;
    margin-left: 610px;
}


.FoxTitle {
    text-align: center;
    font-size: 1.6em;
    padding:5px;
    font-weight: 540;
}


.Fox1 {
    background-color: greenyellow;
    border: solid;
    border-color: black;
    width: 80%;
    margin-left: 33px;
    margin-top: 10px;
    height: 80px;
}



.habitats {
    background-color: rgba(233, 45, 45, 0.863);
    width: 350px;
    height: 953px;
    margin-top: -953px;
    margin-left: 973px;
}


.habitatTitle {
    text-align: center;
    font-size: 1.6em;
    padding:5px;
    font-weight: 540;
}


.habitat1 {
    background-color: greenyellow;
    border: solid;
    border-color: black;
    width: 80%;
    margin-left: 33px;
    margin-top: 10px;
    height: 80px;
}



.upgrades {
    background-color: rgba(233, 183, 45, 0.863);
    width: 350px;
    height: 953px;
    margin-top: -953px;
    margin-left: 1336px;
}


.upgradeTitle {
    text-align: center;
    font-size: 1.6em;
    padding: 5px;
    font-weight: 540;
}


.upgrade1 {
    background-color: greenyellow;
    border: solid;
    border-color: black;
    width: 80%;
    margin-left: 33px;
    margin-top: 10px;
    height: 80px;
}